<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <img alt="" class="img-responsive" src="{% static 'oferty/crystal/apartamenty-crystal-resort-wizualizacja_podjazd.jpg' %}" />

      <h2>Apartamenty Crystal Resort</h2>
      <p>
        Apartamenty w 5-gwiazdkowym hotelu w najbardziej prestiżowym
        obiekcie w Wiśle. Apartamenty z własną księgą wieczystą w
        systemie condo z 10-letnim gwarantowanym okresem
        zwrotu. Najwyższa jakość wykończenia. Pierwszy tego rodzaju
        obiekt w Wiśle. Aquapark, centrum biznesowo-konferencyjne,sauny,
        siłownie, spa, itd. Wyszukana architektura dostosowana do
        niezwykłej lokalizacji. Polana leśna nad centrum
        Wisły. Komfortowy dojazd. Panorama na całą dolinę Wisły.
      </p>
      
      <div class="row">`
        <div class="col-lg-8">
          <a href="{% static 'oferty/crystal/apartamenty-crystal-resort-001_1200px.jpg' %}" data-toggle="lightbox" data-gallery="apartamenty-crystal-resort">
            <img alt="" class="img-responsive" src="{% static 'oferty/crystal/apartamenty-crystal-resort-000_850px.png' %}" />
            <p><span class="glyphicon glyphicon-fullscreen"></span> więcej wizualizacji</p>
          </a>
          <a href="{% static 'oferty/crystal/apartamenty-crystal-resort-002_1200px.jpg' %}" data-toggle="lightbox" data-gallery="apartamenty-crystal-resort"></a>
          <a href="{% static 'oferty/crystal/apartamenty-crystal-resort-003_1200px.jpg' %}" data-toggle="lightbox" data-gallery="apartamenty-crystal-resort"></a>
          <a href="{% static 'oferty/crystal/apartamenty-crystal-resort-004_1200px.jpg' %}" data-toggle="lightbox" data-gallery="apartamenty-crystal-resort"></a>
          <a href="{% static 'oferty/crystal/apartamenty-crystal-resort-005_1200px.jpg' %}" data-toggle="lightbox" data-gallery="apartamenty-crystal-resort"></a>
          <a href="{% static 'oferty/crystal/apartamenty-crystal-resort-006_1200px.jpg' %}" data-toggle="lightbox" data-gallery="apartamenty-crystal-resort"></a>
          <a href="{% static 'oferty/crystal/apartamenty-crystal-resort-007_1200px.jpg' %}" data-toggle="lightbox" data-gallery="apartamenty-crystal-resort"></a>
	</div>
        <div class="col-lg-4">
          <ul>
            <li><span class="glyphicon glyphicon-file" style="font-size: 2em; padding: 10px;"></span>
              <a href="{% static 'oferty/crystal/apartamenty-crystal-resort-standard.pdf' %}">Standard wykończenia</a>
            <li><span class="glyphicon glyphicon-file" style="font-size: 2em; padding: 10px;"></span>
              <a href="{% static 'oferty/crystal/apartamenty-crystal-resort-cennik.pdf' %}">Cennik</a>
          </ul><ul>
            <li class="list-group-item list-group-item-success">
              <div><strong>więcej informacji:</strong></div>
              <div>Sebastian Młynarczyk</div>
              <div>tel. 609 46 74 46</div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
